[submodule "deps/snap"]
	path = deps/snap
	url = https://github.com/snapframework/snap
[submodule "deps/snap-loader-static"]
	path = deps/snap-loader-static
	url = https://github.com/snapframework/snap-loader-static
[submodule "deps/snap-loader-dynamic"]
	path = deps/snap-loader-dynamic
	url = https://github.com/snapframework/snap-loader-dynamic
